<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

  <head th:replace="layout/layoutconjs :: head">
    <title id="pageTitle">Bienvenida</title>
</head>

<body style="background: #1e1e1e;">
    <th:block layout:fragment="contenido">
        <div class="container">
            <div class="row" >
                <div class="row" >
                    <div class="col-md-12" align="center">
                    <div class="row" style="height: 268px;">
                        <div class="col" style="text-align: center;">
                            <br>
                            <br>
                            <br>
                            <br>
                            <img width="100" height="80" style="width: 409px;height: 239px;" th:src="@{/imagenes/logo.png}">
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="row" style="height: 230px;">
                        <div class="col" style="text-align: center;">
                            <h2 style="text-align: center;margin-top: 122px; color: #FFFFFF">¡Te damos la bienvenida a la familia Geeko!</h2>
                            <a th:href="@{/login}" style="font-size: 20px; text-align-all: center;text-decoration: none;font-weight: bold;color: #FFFFFF;border-radius: 28px;border-color: #FFFFFF;padding: 3px;border-radius: 28px;border-color: #FFFFFF;padding: 5px;border:solid;">Iniciar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-12" align="center">
                <img  style="height: 268px; width: 268px"  src="https://media.tenor.com/rTfROYyNn_IAAAAd/pepo-hi-hello.gif" >
            </div>
        </div>

        <br>
        <br>
        </div>
    </th:block>
    <th:block layout:fragment="pie"></th:block>
</body>
</html>