<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

  <head th:replace="layout/layout2 :: head">
    <title id="pageTitle">Preferencias</title>
</head>

<body class="bg-geeko">
  <th:block layout:fragment="nav"></th:block>
  <th:block layout:fragment="contenido">
    <form role="form" th:object="${datosUsuario}" method="post">

      <div id="divCuestionario" class="espaciadoCuestionario container">
        <h2 style="font-family: 'Inter'; font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            text-align: center;" class="espaciadoCuestionario">Escoge tus preferencias</h2>

        <form id="" action="" method="post" enctype="multipart/form-data" style="text-align: center;">
          <div class="invisible-checkboxes  espaciadoCuestionario ">
            <div>
              <th:block th:each="elemento : ${listaTematicas}">

                <input th:field="${datosUsuario.tematicas}" type="checkbox" class="form-check-input"
                      name="rGroup"
                      th:value="${elemento.id}" th:id="${elemento.id}"/>

                <label style="margin:3px;font-weight: bold;font-size: large" class="checkbox-alias" th:for="${elemento.id}"
                      onclick="checkCuestionario(this)">
                  <div style="position: relative;top: 85px;" th:text="${elemento.nombre}"></div>
                </label>

              </th:block>
            </div>

          </div>
          <button class="btn btn-dark espaciadoCuestionario mt-2"
                  style="width: 250px;border-radius: 27px; color: aliceblue;font-weight: bold;">Proceder
          </button>
        </form>
      </div>

    </form>
  </th:block>
  <th:block layout:fragment="pie"></th:block>
</body>

</html>