<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

  <head th:replace="layout/layout :: head">
    <title id="pageTitle">Editar Perfil</title>
</head>

<body style="background: #1e1e1e;">
    <th:block layout:fragment="nav"></th:block>
    <th:block layout:fragment="contenido">
        <div class="container">
            <div class="row" th:align="center" style="color: #FFFFFF;margin-bottom: 24px">
                <h2>Editar perfil</h2>
            </div>
            
            <form role="form" th:object="${datosUsuario}" method="post">
                <input type="hidden" th:field="${datosUsuario.id}">
                <div class="row">
                    <div class="col-xl-4">
                        <div class="row">
                            <div class="col">
                                <div class="row" style="background: #d9d9d9;border-radius: 57px;margin-bottom: 24px;">
                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Usuario:</label></div>
                                    <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.nick}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col">
                                <div class="row" style="background: #d9d9d9;border-radius: 57px;margin-bottom: 24px;">
                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">URL avatar:</label></div>
                                    <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.avatar}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <img th:src="${datosUsuario.avatar}" style="width: 210px; height: 200px; margin: auto; display: block; border-radius: 34px; border-color: #d9d9d9; border-width: 7px; border-style: solid; margin-top: 50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-4" style="margin-left: 36px;">
                        <div class="row" style="margin-bottom: 24px;">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                            <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Nombre:</label></div>
                                            <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.nombre}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Apellidos:</label></div>
                                                    <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.apellidos}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Email:</label></div>
                                                    <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.emilio}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Dirección1:</label></div>
                                                    <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.direccion1}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label"><strong>Dirección2</strong>:</label></div>
                                                    <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.direccion2}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Población:</label></div>
                                                    <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.poblacion}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Provincia:</label></div>
                                                    <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.provincia}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Teléfono:</label></div>
                                                    <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.tlf}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Biografía:</label></div>
                                                    <div class="col" style="background: #d9d9d9;border-radius: 34px;"><input th:field="${datosUsuario.biografia}" class="form-control" type="text" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="col" style="text-align: center; display: flex; justify-content: center; align-items: center;">
                        <a class="btn btn-primary text-center" type="button" data-bss-hover-animate="jello" th:href="@{/cuestionario}" style="background: #8d92bb;border-radius: 38px;color: #1e1e1e;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;border-width: 5px;border-color: #8d92bb;width: 128.3594px;font-weight: bold;">Preferencias</a>
                        <p></p>
                        <a class="btn btn-primary text-center" type="button" data-bss-hover-animate="jello" th:href="@{/cambiarclave}" style="background: #8d92bb;border-radius: 38px;color: #1e1e1e;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;border-width: 5px;border-color: #8d92bb;width: 189.3594px;font-weight: bold;">Cambiar contraseña</a>
                        <p></p>
                        <a class="btn btn-primary text-center" type="button" data-bss-hover-animate="jello" th:href="@{/productos/subidos}" style="background: #8d92bb;border-radius: 38px;color: #1e1e1e;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;border-width: 5px;border-color: #8d92bb;width: 139.3594px;font-weight: bold;">Tus productos</a>
                        <p></p>
                        <button class="btn btn-primary text-center" data-bss-hover-animate="jello" type="submit" style="background: #228866;border-radius: 38px;color: #1e1e1e;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;border-width: 5px;border-color: #228866;width: 128.3594px;font-weight: bold;">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </th:block>
    <th:block layout:fragment="pie"></th:block>
</body>

</html>