<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title id="pageTitle">Inicio</title>
</head>

<body>
    <th:block layout:fragment="nav"></th:block>
    <th:block layout:fragment="contenido">
    <div class="container-fluid">
        <div class="row">

            <article class="col-4">
                <h4 class="text-white">Productos para ti</h4>
                <section>
                    <p> </p>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <th:block th:each="elemento : ${listaProductosParaTi}">
                            <div class="col">
                                <div class="card cardprodu">
                                    <a th:href="'/productos/' + ${elemento.id}"><img th:src="${elemento.imagen}" class="card-img-toppu"></a>
                                    <h6 th:align="center" th:text="${elemento.titulo}"></h6>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </section>
            </article>

            <article class="col-4">
                <h4 class="text-white">Feed</h4>
                <section>
                    <p> </p>
                    <th:block th:if="${#lists.isEmpty(listaComentarios)}">
                        <h4 style="color: #FFFFFF; margin-left: 150px;margin-top: 20px">No hay nada, sigue a alguien!</h4>
                    </th:block>
                    <th:block th:each="elemento : ${listaComentarios}">
                    <div th:id="'borrar'+${elemento.id}">
                        <div class="p-4 text-center rounded-5">
                            <div class="row"
                                 style="background-color: #FFFFFF;border-radius: 30px;margin-top: -9px;min-width: 300px; max-width: 500px">
                                <div style="max-height: 118px;text-align: center;">
                                    <div class="row">
                                        <div class="col-xl-12" style="max-height: 116px;">
                                            <a th:href="@{/perfil/{id}(id = ${elemento.usuario?.getId})}"><img th:src="${elemento.usuario?.getAvatar}" style="width: 5rem; border-radius: 15px"
                                                 class="mt-4" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col">
                                            <h3 style="text-align: left;" th:text="${elemento.titulo}"></h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row" style="text-align: left;">
                                            <p th:text="${elemento.texto}"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col"
                                                     style="height: 49px;margin-left: -7px;margin-right: 13px;">
                                                    <a th:href="@{/productos/{id}(id = ${elemento.producto?.getId})}"><i
                                                            class="bi bi-eye-fill" style="color: black"></i></a>
                                                </div>
                                                <div 
                                                     class="col "
                                                     style="height: 48px;">
                                                    <a th:href="@{/reportarcomentario/{id}(id = ${elemento.id})}"><i
                                                            class="bi bi-flag" style="color: black"></i></a>
                                                </div>
                                                
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col" style="text-align: right;">
                                                    <p th:id="'likes'+${elemento.id}"
                                                       style="color: #1E1E1E; margin-bottom: -10px"
                                                       th:text="${elemento.likes}"></p>
                                                </div>
                                                <div class="col" th:if="${!#lists.contains(likes,elemento.id)}">
                                                    <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                                            th:data-id="${elemento.id}" th:id="'megustas'+${elemento.id}"
                                                            onclick="cambiamegusta(this.getAttribute('data-id'))">
                                                        <i style="margin-bottom: 10px" class="bi bi-hand-thumbs-up"
                                                        th:id="'megusta'+${elemento.id}"></i>
                                                    </button>
                                                </div>
                                                                                                <div class="col" th:if="${#lists.contains(likes,elemento.id)}">
                                                    <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                                            th:data-id="${elemento.id}" th:id="'megustas'+${elemento.id}"
                                                            onclick="nomegusta(this.getAttribute('data-id'))">
                                                        <i style="margin-bottom: 10px; color: #29cb30" class="bi-hand-thumbs-up-fill"
                                                           th:id="'megusta'+${elemento.id}"></i>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </th:block>
                </section>
            </article>            
            
            <article class="col-4">
                <h4 class="text-white">Podría interesarte</h4>
                <section>
                    <div class="row row-cols-1 row-cols-2 row-cols-3 g-4">
                        <th:block th:each="elemento : ${listaProductos}">
                            <div class="card cardnovedad">
                                <div class="row">
                                    <div class="col">
                                        <div class="card-body">
                                            <a th:href="'/productos/' + ${elemento.id}"><img th:src="${elemento.imagen}" class="card-img-topn"></a>
                                            <h6 th:align="center" th:text="${elemento.titulo}"></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </section>
            </article>
        </div>
    </div>
    </th:block>
    <th:block layout:fragment="pie"></th:block>
</body>

</html>