<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="../../static/css/customEdu.css" type="text/css" rel="stylesheet">
</head>

<body style="background: #1e1e1e;">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xxl-3">
            <div class="row">
                <div class="col" style="margin-top: 11px;">
                    <div id="cardEntrada-2" class="p-4 text-center shadow-lg m-5 rounded-5" style="width: 211px;background: rgba(141,146,187,0.35);"><img class="pt-2 w-50" src="/static/imagenes/peepogoku.png">
                        <h3 class="text-white text-center pt-2">@Admin</h3>
                        <p class="fw-light text-white m-0">Esto es una descripción de muestra pipopipopipo</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><button class="btn btn-primary text-center" data-bss-hover-animate="jello" type="submit" style="background: #1e1e1e;border-radius: 38px;color: #ffffff;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;width: 131px;border-width: 4px;border-color: #d9d9d9;">Editar perfil</button></div>
            </div>
            <div class="row">
                <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><button class="btn btn-primary text-center" data-bss-hover-animate="jello" type="submit" style="background: #8d92bb;border-radius: 38px;color: #1e1e1e;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;border-width: 5px;border-color: #8d92bb;width: 128.3594px;">Tus productos</button></div>
            </div>
            <div class="row">
                <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><button class="btn btn-primary text-center" data-bss-hover-animate="jello" type="submit" style="background: #8d92bb;border-radius: 38px;color: #1e1e1e;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;border-width: 5px;border-color: #8d92bb;width: 128.3594px;">Pedidos</button></div>
            </div>
            <div class="row">
                <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><button class="btn btn-primary text-center" data-bss-hover-animate="jello" type="submit" style="background: #1e1e1e;border-radius: 38px;color: #ffffff;padding-left: 10px;margin-right: 5px;padding-right: 6px;width: 131px;border-width: 4px;border-color: #FA5959;">Reportes</button></div>
            </div>
        </div>
        <div class="col-md-4 col-xxl-5">
            <div class="row" style="margin-top: 44px;">
                <div class="col">
                    <h2 style="text-align: center;color: rgb(255,255,255);">Tus comentarios</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 19px;">
                <section class="card mb-3">
                    <div class="row">
                        <div class="col-3"><img src="/static/imagenes/peepogoku.png" style="width: 7rem;" class="mt-1" alt=""></div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">Título feed</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    <br>Deserunt eum libero
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row" style="margin-top: 3px;height: 54px;">
                <div class="col-xxl-6" style="text-align: left;"></div>
                <div class="col" style="text-align: right;margin-top: 22px;margin-left: 52px;">
                    <h4 style="color: rgb(255,255,255);margin-left: 109px;margin-right: 11px;">168</h4>
                </div>
                <div class="col" style="padding-left: 6px;"><img src="/static/iconos/like.png" width="35" height="35" style="margin-right: 0px;margin-top: 13px;margin-left: -13px;"></div>
            </div>
            <div class="row" style="margin-top: 19px;">
                <section class="card mb-3">
                    <div class="row">
                        <div class="col-3"><img src="/static/imagenes/peepogoku.png" style="width: 7rem;" class="mt-1" alt=""></div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">Título feed</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    <br>Deserunt eum libero
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row" style="margin-top: 3px;height: 54px;">
                <div class="col-xxl-6" style="text-align: left;"></div>
                <div class="col" style="text-align: right;margin-top: 22px;margin-left: 52px;">
                    <h4 style="color: rgb(255,255,255);margin-left: 109px;margin-right: 11px;">168</h4>
                </div>
                <div class="col" style="padding-left: 6px;"><img src="/static/iconos/like.png" width="35" height="35" style="margin-right: 0px;margin-top: 13px;margin-left: -13px;"></div>
            </div>
            <div class="row" style="margin-top: 19px;">
                <section class="card mb-3">
                    <div class="row">
                        <div class="col-3"><img src="/static/imagenes/peepogoku.png" style="width: 7rem;" class="mt-1" alt=""></div>
                        <div class="col">
                            <div class="card-body">
                                <h5 class="card-title">Título feed</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    <br>Deserunt eum libero
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row" style="margin-top: 3px;height: 54px;">
                <div class="col-xxl-6" style="text-align: left;"></div>
                <div class="col" style="text-align: right;margin-top: 22px;margin-left: 52px;">
                    <h4 style="color: rgb(255,255,255);margin-left: 109px;margin-right: 11px;">168</h4>
                </div>
                <div class="col" style="padding-left: 6px;"><img src="/static/iconos/like.png" width="35" height="35" style="margin-right: 0px;margin-top: 13px;margin-left: -13px;"></div>
            </div>
        </div>
        <div class="col" style="padding-left: 62px;padding-right: 58px;padding-bottom: 0px;">
            <div class="row" style="margin-top: 44px;">
                <div class="col">
                    <h2 style="text-align: center;color: rgb(255,255,255);">Podría interesarte</h2>
                </div>
            </div>
            <div class="row" style="height: 343.797px;padding-top: 0px;margin-top: 2px;padding-bottom: 20px;margin-bottom: 22px;">
                <div class="col" style="margin-bottom: -3px;margin-top: 1px;"><img class="d-xxl-flex justify-content-center justify-content-xxl-center" width="284" height="199" style="height: 308px;border-color: rgba(33,37,41,0);border-radius: 50px;margin-right: -8px;padding-left: 0px;margin-left: 20px;" src="/static/imagenes/dragon.jpg"></div>
            </div>
            <div class="row" style="height: 343.797px;padding-top: 0px;margin-top: 2px;padding-bottom: 20px;margin-bottom: 22px;">
                <div class="col" style="margin-bottom: -3px;margin-top: 1px;"><img class="d-xxl-flex justify-content-center justify-content-xxl-center" width="284" height="199" style="height: 308px;border-color: rgba(33,37,41,0);border-radius: 50px;margin-right: -8px;padding-left: 0px;margin-left: 20px;" src="/static/imagenes/dragon.jpg"></div>
            </div>
            <div class="row" style="height: 343.797px;padding-top: 0px;margin-top: 2px;padding-bottom: 20px;margin-bottom: 22px;">
                <div class="col" style="margin-bottom: -3px;margin-top: 1px;"><img class="d-xxl-flex justify-content-center justify-content-xxl-center" width="284" height="199" style="height: 308px;border-color: rgba(33,37,41,0);border-radius: 50px;margin-right: -8px;padding-left: 0px;margin-left: 20px;" src="/static/imagenes/dragon.jpg"></div>
            </div>
        </div>
    </div>
</div>
<footer class="text-center mt-5 text-white">
    <!-- Grid container -->
    <div class=" pt-2">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Twitter -->
            <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
            ></a>

            <!-- Google -->
            <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
            ></a>

            <!-- Instagram -->
            <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
            ></a>

            <!-- Linkedin -->
            <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
            ></a>
            <!-- Github -->
            <a
                    class="btn btn-link btn-floating btn-lg text-white m-1"
                    href="#!"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center text-white">
        © 2023 Copyright:
        <a class="text-white" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Geeko</a>
    </div>
    <!-- Copyright -->
</footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
</body>

</html>