<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title id="pageTitle">Perfil</title>
</head>

<body style="background: #1e1e1e;">
    <th:block layout:fragment="nav"></th:block>
    <th:block layout:fragment="contenido">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="row">
                    <div class="col" style="margin-top: 11px;">
                        <th:block th:object="${datosPerfil}">
                            <div id="cardEntrada-2" class="mx-auto p-3 text-center shadow-lg m-5 rounded-5"
                                style="width: 211px;background: rgba(141,146,187,0.35);"><img class="pt-2 w-50"
                                                                                            style=" border-radius: 15px;"
                                                                                            th:src="${datosPerfil.avatar}">
                                <h3 class="text-white text-center pt-2" th:text="${datosPerfil.nick}"></h3>
                                <p th:id="'seguir'+${datosPerfil.id}" class="fw-light text-white m-0" th:text="${datosPerfil.biografia}"></p>
                            </div>
                        </th:block>
                    </div>
                </div>
                <div th:if="${datosUsuario.id} == ${datosPerfil.id}" class="row">
                    <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><a
                            th:href="@{usuarios/edit}" class="btn btn-primary text-center" data-bss-hover-animate="jello"
                            type="submit"
                            style="background: #1e1e1e;border-radius: 38px;color: #ffffff;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;width: 131px;border-width: 4px;border-color: #d9d9d9;">Editar
                        perfil</a></div>
                </div>
                    <div th:if="${datosUsuario.id} != ${datosPerfil.id} AND ${!#lists.contains(ids,datosPerfil.getId())}" class="row">
                        <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><button
                                class="btn btn-primary text-center" data-bss-hover-animate="jello"
                                type="submit" onclick="seguir(this.getAttribute('data-id'))"
                                th:id="'seguir'+${datosPerfil.id}" th:data-id="${datosPerfil.id}"
                                style="background: #1e1e1e;border-radius: 38px;color: #ffffff;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;width: 131px;border-width: 4px;border-color: #d9d9d9;">Seguir
                            </button></div>
                    </div>
                    <div th:if="${datosUsuario.id} != ${datosPerfil.id} AND ${#lists.contains(ids,datosPerfil.getId())}" class="row">
                        <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;">
                            <button
                                class="btn btn-primary text-center" data-bss-hover-animate="jello"
                                type="submit" onclick="noseguir(this.getAttribute('data-id'))"
                                th:id="'noseguir'+${datosPerfil.id}" th:data-id="${datosPerfil.id}"
                                style="background: #1e1e1e;border-radius: 38px;color: #ffffff;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;width: 131px;border-width: 4px;border-color: #d9d9d9;">No seguir
                            </button>
                        </div>
                    </div>
                    <div th:if="${datosUsuario.id} != ${datosPerfil.id}" class="row">
                        <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><button
                                class="btn btn-primary text-center" data-bss-hover-animate="jello"
                                type="submit" onclick="chat(this.getAttribute('data-id'))"
                                th:id="'chat'+${datosPerfil.id}" th:data-id="${datosPerfil.id}"
                                style="background: #1e1e1e;border-radius: 38px;color: #ffffff;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;width: 131px;border-width: 4px;border-color: #d9d9d9;">Chat
                            </button></div>
                    </div>           
                <div th:if="${datosUsuario.id} == ${datosPerfil.id}" sec:authorize="hasRole('ADMIN')" class="row">
                    <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><a
                            th:href="@{/panelreportes}" class="btn btn-primary text-center" data-bss-hover-animate="jello"
                            type="submit"
                            style="background: #1e1e1e;border-radius: 38px;color: #ffffff;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;width: 131px;border-width: 4px;border-color: #FA5959;">Reportes</a>
                    </div>
                </div>
                <div th:if="${datosUsuario.id} == ${datosPerfil.id}" class="row">
                    <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><a
                            th:href="@{productos/subidos}" class="btn btn-primary text-center"
                            data-bss-hover-animate="jello" type="submit"
                            style="background: #8d92bb;border-radius: 38px;color: #1e1e1e;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;border-width: 5px;border-color: #8d92bb;width: 128.3594px;">Productos</a>
                    </div>
                </div>
                <div th:if="${datosUsuario.id} != ${datosPerfil.id}" class="row">
                    <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><a
                            th:href="@{'/perfil/' + ${datosPerfil.getId} + '/productos'}" class="btn btn-primary text-center"
                            data-bss-hover-animate="jello" type="submit"
                            style="background: #8d92bb;border-radius: 38px;color: #1e1e1e;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;border-width: 5px;border-color: #8d92bb;width: 128.3594px;">Productos</a>
                    </div>
                </div>
                <div th:if="${datosUsuario.id} == ${datosPerfil.id}" class="row">
                    <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><a
                            th:href="@{/pedidos}" class="btn btn-primary text-center" data-bss-hover-animate="jello"
                            type="submit"
                            style="background: #8d92bb;border-radius: 38px;color: #1e1e1e;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;border-width: 5px;border-color: #8d92bb;width: 128.3594px;">Pedidos</a>
                    </div>
                </div>
                <div th:if="${datosUsuario.id} != ${datosPerfil.id}" class="row">
                    <div class="col" style="margin-top: 10px;margin-bottom: 15px;text-align: center;"><a
                            th:href="@{/reportarusuario/{id}(id = ${datosPerfil.id})}" class="btn btn-primary text-center"
                            data-bss-hover-animate="jello" type="submit"
                            style="background: #1e1e1e;border-radius: 38px;color: #ffffff;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;width: 131px;border-width: 4px;border-color: #FA5959;">Reportar</a>
                    </div>
                </div>

            </div>
            <div class="col-md-8 col-xl-6">
                <div class="row" style="margin-top: 44px;">
                    <div class="col">
                        <h3 style="text-align: center; color: rgb(255,255,255);">Comentarios</h3>
                    </div>
                </div>
                <th:block th:each="elemento : ${listaComentarios}">
                        <div class="p-4 shadow-lg m-5 rounded-5" style="background-color: #FFFFFF; max-width: 500px">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xxl-4 d-xxl-flex justify-content-xxl-center align-items-xxl-start" style="height: 130px;">
                                                <img style="width: 5rem; border-radius: 15px" th:src="${elemento.usuario?.getAvatar}">
                                            </div>
                                            <div class="col">
                                                <h3 class="pt-2" th:text="${elemento.titulo}">Title</h3>
                                                <p class="pt-1" th:text="${elemento.texto}">Subtitle</p>
                                            </div>
                                        </div>
                                        <div class="row" th:if="${elemento.comentarioPadre}" style="background-color: rgb(209, 209, 209); border-radius: 15px;">
                                            <a th:href="@{/respuestas/{id}(id = ${elemento.comentarioPadre?.getId})}" style="text-decoration: none; color: inherit;">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <img style="width:3rem; border-radius: 15px; margin-top: 5px;" th:src="${elemento.comentarioPadre?.getUsuario.avatar}">
                                                    </div>
                                                    <div class="col">
                                                        <h6 th:text="${elemento.comentarioPadre?.getTitulo}"></h6>
                                                        <p class="pt-1" th:text="${elemento.comentarioPadre?.getTexto}">Subtitle</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row" style="height: 15px;">
                                    <div class="col-md-1">
                                        <a th:href="@{/productos/{id}(id = ${elemento.producto?.getId})}">
                                            <i class="bi bi-eye-fill" style="color: black"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-1" th:if="${datosUsuario.id} != ${elemento.usuario?.getId}">
                                        <a th:href="@{/reportarcomentario/{id}(id = ${elemento.id})}">
                                            <i class="bi bi-flag" style="color: black"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-1" th:if="${datosUsuario.id} == ${elemento.usuario?.getId}">
                                        <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                        th:data-id="${elemento.id}"
                                        onclick="borrar(this.getAttribute('data-id'))">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>


                                    <!--    Respuestas de un comentario   -->
                                <th:block th:if="!${elemento.comentarioPadre}">
                                    <div class="col-md-1">
                                        <a th:href="@{/respuestas/{id}(id = ${elemento.id})}" style="background-color: rgba(255,255,255,0); border: 0px;">
                                            <i class="bi bi-reply" style="color: black;"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-7">
                                        <p th:if="${elemento.comentariosHijos?.size()} > 0" th:text="${elemento.comentariosHijos?.size()}"></p>
                                    </div>
                                </th:block>

                                <th:block th:if="${elemento.comentarioPadre}">
                                    <div class="col-md-8">
                                        
                                    </div>
                                </th:block>


                                    <div class="col-xxl-1">
                                        <p th:id="'likes'+${elemento.id}"
                                                style="color: #1E1E1E; margin-top: 3px; margin-left: 15px;"
                                                th:text="${elemento.likes}">
                                        </p>
                                    </div>
                                    <div class="col-md-1" th:if="${!#lists.contains(likes,elemento.id)}">
                                        <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                        th:data-id="${elemento.id}" th:id="'megustas'+${elemento.id}"
                                        onclick="cambiamegusta(this.getAttribute('data-id'))">
                                        <i style="margin-bottom: 10px" class="bi bi-hand-thumbs-up"
                                        th:id="'megusta'+${elemento.id}"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-1" th:if="${#lists.contains(likes,elemento.id)}">
                                        <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                                th:data-id="${elemento.id}" th:id="'megustas'+${elemento.id}"
                                                onclick="nomegusta(this.getAttribute('data-id'))">
                                            <i style="margin-bottom: 10px; color: #29cb30" class="bi-hand-thumbs-up-fill"
                                            th:id="'megusta'+${elemento.id}"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>

            </div>
            <div class="col-xl-3" style="padding-left: 62px;padding-right: 58px;padding-bottom: 0px;">
                <div class="row" style="margin-top: 44px;">
                    <div class="col produpodint">
                        <h3 class="text-nowrap" style="margin-left: 140px; color: rgb(255,255,255);">Podría interesarte</h3>
                    </div>
                </div>
                <div class="row">
                    <th:block th:each="elemento : ${listaIntereses}">
                        <div class="card-body cardproduperfil" style="margin-bottom: 30px; margin-left: 55px">
                            <a th:href="'/productos/' + ${elemento.id}"><img th:src="${elemento.imagen}" width="10%" class="card-img-topperfil"></a>
                            <h6 style="color: #FFFFFF; margin-left: 20px" th:align="center" th:text="${elemento.titulo}"></h6>
                            <div class="clasificacion">
                                <th:block th:if="${elemento.puntuacionMedia} == 0 ">
                                    <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                    <label>✰</label>
                                    <label>✰</label>
                                    <label>✰</label>
                                    <label>✰</label>
                                    <label>✰</label>
                                </th:block>
                                <th:block th:if="${elemento.puntuacionMedia} > 0 and ${elemento.puntuacionMedia} <= 1">
                                    <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                    <label>✰</label>
                                    <label>✰</label>
                                    <label>✰</label>
                                    <label>✰</label>
                                    <label>★</label>
                                </th:block>
                                <th:block th:if="${elemento.puntuacionMedia} > 1 and ${elemento.puntuacionMedia} <= 2 ">
                                    <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                    <label>✰</label>
                                    <label>✰</label>
                                    <label>✰</label>
                                    <label>★</label>
                                    <label>★</label>
                                </th:block>
                                <th:block th:if="${elemento.puntuacionMedia} > 2 and ${elemento.puntuacionMedia} <= 3 ">
                                    <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                    <label>✰</label>
                                    <label>✰</label>
                                    <label>★</label>
                                    <label>★</label>
                                    <label>★</label>
                                </th:block>
                                <th:block th:if="${elemento.puntuacionMedia} > 3 and ${elemento.puntuacionMedia} <=4 ">
                                    <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                    <label>✰</label>
                                    <label>★</label>
                                    <label>★</label>
                                    <label>★</label>
                                    <label>★</label>
                                </th:block>
                                <th:block th:if="${elemento.puntuacionMedia} > 4  and ${elemento.puntuacionMedia} <= 5 ">
                                    <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                    <label>★</label>
                                    <label>★</label>
                                    <label>★</label>
                                    <label>★</label>
                                    <label>★</label>
                                </th:block>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    </th:block>
    <th:block layout:fragment="pie"></th:block>
</body>

</html>