<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

  <head th:replace="layout/layout :: head">
    <title id="pageTitle">Confirmación</title>
</head>

<body>
  <th:block layout:fragment="nav"></th:block>
  <th:block layout:fragment="contenido">
<div class="container-fluid">
  <div class="card align-items-center" style="background-color: #d9d9d9; width: 500px; height: 350px; margin-top: 30px; margin-left: 440px">
    <div class="cardpago">
      <div class="card-bodypago2">
        <p class="text-center fs-2">¡Gracias por tu compra!</p>
        <p class="text-center fs-5">Recibirá un correo de confirmación en su email.</p>
        <p class="text-center fs-5">El número de seguimiento será proporcionado por la empresa de mensajería en la mayor brevedad posible.</p>
      </div>
      <a th:href="@{/pedidos}" class="btn btn-primary" style="float: right; margin-right: 180px;">Ver tus pedidos</a>
    </div>
  </div>
</div>
  </th:block>
  <th:block layout:fragment="pie"></th:block>
</body>

</html>