<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

  <head th:replace="layout/layout :: head">
    <title id="pageTitle">Nuevo Producto</title>
</head>

<body style="background: #1e1e1e;">
    <th:block layout:fragment="nav"></th:block>
    <th:block layout:fragment="contenido">
<div class="container" STYLE="margin-top: 20px">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-xxl-8">
                    <form role="form" th:object="${datosProducto}" method="post">
                        <div class="row">
                            <div class="col-md-6 col-xl-4 col-xxl-5" style="margin-left: 36px;">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                    <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Título:</label></div>
                                                    <div class="col" style="background: #d9d9d9;border-radius: 34px; margin-top: 5px;"><input required th:field="${datosProducto.titulo}" type="text" id="titulo" maxlength="60" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row" style="margin-bottom: 24px;">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                            <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">Precio:</label></div>
                                                            <div class="col" style="background: #d9d9d9;border-radius: 34px; margin-top: 5px;"><input th:field="${datosProducto.precio}" type="text" id="precio" maxlength="60" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row" style="margin-bottom: 24px;">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row" style="background: #d9d9d9;border-radius: 57px;">
                                                            <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: right;"><label class="col-form-label" style="font-weight: bold;">URL Imagen:</label></div>
                                                            <div class="col" style="background: #d9d9d9;border-radius: 34px; margin-top: 5px;"><input required th:field="${datosProducto.imagen}" type="text" id="imagen" maxlength="200" style="background: #1e1e1e;border-radius: 65px;color: rgb(255,255,255);"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" sec:authorize="hasRole('ADMIN')">
                                    <div class="col">
                                        <div class="row" style="margin-bottom: 24px;">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <input  th:field="${datosProducto.geeko}" th:value="1" class="form-check-input" th:type="checkbox" name="flexRadioDefault" id="geeko">
                                                            <label class="form-check-label" for="geeko" style="background: #d9d9d9; border-radius: 24px; width: 175px"> &nbsp;<i class="bi bi-chat-right-dots"></i> Producto Geeko &nbsp;</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${datosProducto.id} != null" class="row">
                                    <div class="col">
                                        <div class="row" style="margin-bottom: 24px;">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <input  th:field="${datosProducto.activo}" th:value="0" class="form-check-input" th:type="checkbox" name="flexRadioDefault" id="pogeeko">
                                                            <label class="form-check-label" for="pogeeko" style="background: #d9d9d9; border-radius: 24px; width: 175px"> &nbsp;<i class="bi bi-chat-right-dots"></i> Borrar producto &nbsp;</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-4 col-xxl-5" style="margin-left: 36px;">
                                <div class="row" style="margin-bottom: 24px;">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row" style="background: #1e1e1e;border-radius: 57px;height: 174px;">
                                                    <div class="col" style="background: #1e1e1e;border-radius: 34px;"><textarea required th:field="${datosProducto.descripcion}" class="form-control" style="border-radius: 17px;height: 163px;" placeholder="Escribe la descripción del producto"></textarea></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row" style="margin-bottom: 24px;">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row" style="margin-bottom: 19px;">
                                                            <div class="col" style="text-align: center; justify-content: center" >
                                                                <div class="form-check" STYLE="background: #1E1E1E !Important">
                                                                    <input th:field="${datosProducto.libro}" th:value="1" class="form-check-input" th:type="checkbox" name="flexRadioDefault" id="Librobox">
                                                                    <label class="form-check-label" for="Librobox" style="background: #d9d9d9; border-radius: 24px;"> &nbsp;<i class="bi bi-book"></i> Libro &nbsp;</label>
                                                                </div>
                                                            </div>
                                                            <div class="col" style="border-radius: 34px;text-align: center;">
                                                                <div class="form-check" STYLE="background: #1E1E1E !Important">
                                                                    <input th:field="${datosProducto.pelicula}" th:value="1" class="form-check-input" th:type="checkbox" name="flexRadioDefault" id="Peliculabox">
                                                                    <label class="form-check-label" for="Peliculabox" style="background: #d9d9d9; border-radius: 24px;"> &nbsp;<i class="bi bi-film"></i> Pelicula &nbsp;</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-bottom: 19px;">
                                                            <div class="col" style="text-align: center; justify-content: center">
                                                                <div class="form-check" STYLE="background: #1E1E1E !Important">
                                                                    <input th:field="${datosProducto.serie}" th:value="1" class="form-check-input" th:type="checkbox" name="flexRadioDefault" id="Seriebox">
                                                                    <label class="form-check-label" for="Seriebox" style="background: #d9d9d9; border-radius: 24px;"> &nbsp;<i class="bi bi-tv"></i> Serie &nbsp;</label>
                                                                </div>
                                                            </div>
                                                            <div class="col" style="text-align: center; justify-content: center">
                                                                <div class="form-check" STYLE="background: #1E1E1E !Important">
                                                                    <input th:field="${datosProducto.videojuego}" th:value="1" class="form-check-input" th:type="checkbox" name="flexRadioDefault" id="Videojuegobox">
                                                                    <label class="form-check-label" for="Videojuegobox" style="background: #d9d9d9; border-radius: 24px;"> &nbsp;<i class="bi bi-controller"></i> Videojuego &nbsp;</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row" style="margin-bottom: 24px;">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row" style="background: rgba(217,217,217,0);border-radius: 57px;">
                                                            <div class="col" style="background: rgba(217,217,217,0);border-radius: 34px;text-align: center;margin-top: 16px;"><input class="btn btn-primary text-center" data-bss-hover-animate="jello" type="submit" style="background: #8d92bb;border-radius: 38px;color: #1e1e1e;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;border-width: 5px;border-color: #8d92bb;width: 128.3594px;font-weight: bold;"></div>
                                                            <div class="col" style="background: rgba(30,30,30,0);border-radius: 34px;">
                                                                <div class="col-auto"><label style="color: #d9d9d9" for="city">Temática:</label></div>
                                                                <div class="col-auto"><select required th:field="${datosProducto.tematica}" th:object="${listaTematicas}" style="border-radius: 24px; background-color: #d9d9d9" class="form-select" name="city" id="city">
                                                                    <option th:value=null disabled selected>Seleccionar</option>
                                                                    <th:block th:each="elemento : ${listaTematicas}">
                                                                        <option th:value="${elemento.id}" th:text="${elemento.nombre}"></option>
                                                                    </th:block>
                                                                </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-4" style="padding-left: 62px;padding-right: 58px;padding-bottom: 0px;">
                    <div class="row" style="margin-top: -10px;">
                        <div class="col produpodint">
                            <h3 style="text-align: center;color: rgb(255,255,255);">Podría interesarte</h3>
                        </div>
                    </div>
                    <div class="row">
                        <th:block th:each="elemento : ${listaIntereses}">
                            <div class="card-body cardproduPodint" style="margin-bottom: 30px; margin-left: 55px">
                                <a th:href="'/productos/' + ${elemento.id}"><img th:src="${elemento.imagen}" width="10%" class="card-img-topproduPodint"></a>
                                <h6 style="color: #FFFFFF" th:align="center" th:text="${elemento.titulo}"></h6>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </th:block>
    <th:block layout:fragment="pie"></th:block>
</body>

</html>