<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layoutconjs}">

<head th:replace="layout/layoutconjs :: head">
    <title id="pageTitle">Pedidos</title>
</head>

<body class="bg-geeko">
<th:block layout:fragment="nav"></th:block>
<th:block layout:fragment="contenido">
<section class="py-1">
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 1000px;">
            <div class="row row-cols-1 " style="max-width: 500px;margin-right: 5px;">
                <h3 style="color: aliceblue;" class="mb-4">Compras</h3>

                <th:block th:each="elemento : ${pedidos}">
                <div class="col mb-12 b mb-4 card-body" style="background-color:#D9D9D9">
                        <div class="row g-0 ">
                            <div class="col-md-4">
                                <img th:src="${elemento.producto?.getImagen}" style="width: 100px; height: 100px;border-radius: 50%;"
                                     class="img-fluid p-2 fotosPedidos" alt="...">
                            </div>
                            <div class="col-md-6 ">
                                <div class=" p-2">
                                    <h4 class="card-title" style="font-weight: bold;" th:text="${elemento.producto?.getTitulo}"></h4>
                                        <h2 class="mt-1" th:text="${elemento.producto?.getPrecio} + ' €'"></h2>
                                </div>
                            </div>
                        </div>
                </div>
                </th:block>


            </div>
        </div>
    </div>
</section>
</th:block>
<th:block layout:fragment="pie"></th:block>
</body>

</html>