<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title id="pageTitle">Producto</title>
</head>

<body style="background-color: #1E1E1E">
    <th:block layout:fragment="nav"></th:block>
    <th:block layout:fragment="contenido">
<div class="container" th:object="${datosProducto}">
    <div class="row">
        <div class="col" style="margin-right: 5px; max-width: 1100px;">
            <h4 style="color: #8D92BB;margin-bottom: 10px;" th:text="${datosProducto.titulo}"></h4>

                <div class="shrink-0 flex items-center mb-2" style="white-space:nowrap !important">
                    <a th:href="@{/perfil/{id}(id = ${datosProducto.usuario?.getId})}"><img  th:src="${datosProducto.usuario?.getAvatar}" width="48px" class="h-8 w-8 rounded-full object-cover" alt="" style="border-radius: 15px"></a>
                    <span  style="color: #D9D9D9;font-size: large;" th:text="${datosProducto.usuario?.getNick}"></span>
                    <span class=" valoracionPedidos " style="white-space:nowrap !important"></span>
                </div>
                <div class="row row-cols-1 row-cols-md-2" style="margin-right: 5px;">
                    <div class="col mb-5">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <img th:src="${datosProducto.imagen}"
                                         class="d-block w-100 rounded img-fluid shadow "
                                         alt="..." style="height: auto">
                        </div>

                        <div th:if="${datosProducto.geeko} == 1" class="clasificacion">
                            <th:block th:if="${datosProducto.puntuacionMedia} == 0 ">
                                <label th:text="'(' + ${datosProducto.puntuacionMedia} + ')'"></label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                            </th:block>
                            <th:block th:if="${datosProducto.puntuacionMedia} > 0 and ${datosProducto.puntuacionMedia} <= 1">
                                <label th:text="'(' + ${datosProducto.puntuacionMedia} + ')'"></label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>★</label>
                            </th:block>
                            <th:block th:if="${datosProducto.puntuacionMedia} > 1 and ${datosProducto.puntuacionMedia} <= 2 ">
                                <label th:text="'(' + ${datosProducto.puntuacionMedia} + ')'"></label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>★</label>
                                <label>★</label>
                            </th:block>
                            <th:block th:if="${datosProducto.puntuacionMedia} > 2 and ${datosProducto.puntuacionMedia} <= 3 ">
                                <label th:text="'(' + ${datosProducto.puntuacionMedia} + ')'"></label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                            </th:block>
                            <th:block th:if="${datosProducto.puntuacionMedia} > 3 and ${datosProducto.puntuacionMedia} <= 4 ">
                                <label th:text="'(' + ${datosProducto.puntuacionMedia} + ')'"></label>
                                <label>✰</label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                            </th:block>
                            <th:block th:if="${datosProducto.puntuacionMedia} > 4 and ${datosProducto.puntuacionMedia} <= 5 ">
                                <label th:text="'(' + ${datosProducto.puntuacionMedia} + ')'"></label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                            </th:block>
                            
                            <p th:if="${datosProducto.puntuacionProducto?.size()} == 0" th:text="'No ha sido valorado'"></p>
                            <p th:if="${datosProducto.puntuacionProducto?.size()} >= 1" th:text="' Valoraciones: ' + ${datosProducto.puntuacionProducto?.size()}"></p>
                        </div>
                    </div>
                    <div class="col d-md-flex mb-5">
                        <div>
                            <h4 th:if="${datosProducto?.geeko} == 0" class="fw-bolder" style="color: #8D92BB;" th:text="${datosProducto.precio} + '€'"></h4>
                            <p class="text-muted mb-4" style="width: 400px;color: #D9D9D9 !important;" th:text="${datosProducto.descripcion}"></p>
                            <!--Etiquetas-->
                            <p style="color:#8D92BB">
                                <!-- Repetir aqui-->
                                <span th:if="${datosProducto.libro} == 1" style="margin-right:10px ;"><i style="color: aliceblue;margin-right: 5px;" class="fa-solid fa-tag fa-2xl"></i>Libro</span>
                                <span th:if="${datosProducto.serie} == 1" style="margin-right:10px ;"><i style="color: aliceblue;margin-right: 5px;" class="fa-solid fa-tag fa-2xl"></i>Serie</span>
                                <span th:if="${datosProducto.pelicula} == 1" style="margin-right:10px ;"><i style="color: aliceblue;margin-right: 5px;" class="fa-solid fa-tag fa-2xl"></i>Película</span>
                                <span th:if="${datosProducto.videojuego} == 1" style="margin-right:10px ;"><i style="color: aliceblue;margin-right: 5px;" class="fa-solid fa-tag fa-2xl"></i>Videojuego</span>
                                <!--Hasta aqui-->
                                <i style="color: aliceblue;margin-right: 5px;" class="fa-solid fa-tag fa-2xl"></i><span th:text="${datosProducto.tematica?.getNombre}" style="margin-right:10px ;"></span>
                            </p>
                            <!-- Cierre etiquetas-->
                            <a th:if="${datosProducto.usuario?.getId} == ${datosUsuario.id}" th:href="@{/productos/edit/{id}(id = ${datosProducto.id})}" class="btn px-4" style="border-radius: 23px;background-color: #8D92BB"type="button">Editar <i class="fas fa-edit"></i></a>
                            <a th:if="${datosProducto.usuario?.getId} != ${datosUsuario.id}" th:href="@{/reportarproducto/{id}(id = ${datosProducto.id})}" class="btn px-4" style="border-radius: 23px;background-color: #8D92BB"type="button">Reportar</a>
                            <button th:if="${datosProducto.usuario?.getId} != ${datosUsuario.id} AND ${datosProducto.geeko} == 1" class="btn px-4" style="border-radius: 23px;background-color: #8D92BB"type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Valorar</button>
                            <a th:if="${datosProducto.usuario?.getId != datosUsuario.id} AND ${datosProducto.geeko == 0}" th:href="@{/pago/{id}(id = ${datosProducto.id})}" class="btn px-4" style="border-radius: 23px;background-color: #8D92BB"type="button">Comprar <i class="fas fa-edit"></i></a>

                        </div>
                    </div>
                </div>
            <th:block th:if="${datosProducto.geeko} == 1">
            <h3 style="color: #FFFFFF; margin-left: 200px">Comentarios <a th:href="@{/crearcomentario/{id}(id = ${datosProducto.id})}"><i class="bi bi-plus-circle"></i></a></h3>
                    <th:block th:if="${#lists.isEmpty(listaComentarios)}">
                        <h4 style="color: #FFFFFF; margin-left: 90px;margin-top: 20px">No hay comentarios, escribe el primero!</h4>
                    </th:block>
                    <th:block th:each="elemento : ${listaComentarios}">
                        <div class="p-4 shadow-lg m-5 rounded-5" style="background-color: #FFFFFF; max-width: 500px">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xxl-4 d-xxl-flex justify-content-xxl-center align-items-xxl-start" style="height: 130px;">
                                                <a th:href="@{/perfil/{id}(id = ${elemento.usuario?.getId})}"><img style="width: 5rem; border-radius: 15px" th:src="${elemento.usuario?.getAvatar}"></a>
                                            </div>
                                            <div class="col">
                                                <h3 class="pt-2" th:text="${elemento.titulo}">Title</h3>
                                                <p class="pt-1" th:text="${elemento.texto}">Subtitle</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row" style="height: 15px;">
                                    <div class="col-md-1">
                                        <a th:href="@{/productos/{id}(id = ${elemento.producto?.getId})}">
                                            <i class="bi bi-eye-fill" style="color: black"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-1" th:if="${datosUsuario.id} != ${elemento.usuario?.getId}">
                                        <a th:href="@{/reportarcomentario/{id}(id = ${elemento.id})}">
                                            <i class="bi bi-flag" style="color: black"></i>
                                        </a>
                                    </div>
                                    <div class="col-md-1" th:if="${datosUsuario.id} == ${elemento.usuario?.getId}">
                                        <!-- <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                        th:data-id="${elemento.id}"
                                        onclick="borrar(this.getAttribute('data-id'))">
                                            <i class="bi bi-trash"></i> 
                                        </button> -->
                                        <button style="background-color: rgba(255,255,255,0); border: 0px;" data-bs-toggle="modal" data-bs-target="#modalBorrar" onclick="setSelectedElementId(this.getAttribute('data-id'))" th:data-id="${elemento.id}">
                                            <i class="bi bi-trash"></i> 
                                        </button>
                                    </div>


                                    <!--    Respuestas de un comentario   -->
                                    <div class="col-md-1">
                                        <a th:href="@{/respuestas/{id}(id = ${elemento.id})}" style="background-color: rgba(255,255,255,0); border: 0px;">
                                            <i class="bi bi-reply" style="color: black;"></i>
                                        </a>
                                    </div>

                                    <div class="col-md-7">
                                        <p th:if="${elemento.comentariosHijos?.size()} > 0" th:text="${elemento.comentariosHijos?.size()}"></p>
                                    </div>


                                    <div class="col-xxl-1">
                                        <p th:id="'likes'+${elemento.id}"
                                                style="color: #1E1E1E; margin-top: 3px; margin-left: 15px;"
                                                th:text="${elemento.likes}">
                                        </p>
                                    </div>
                                    <div class="col-md-1" th:if="${!#lists.contains(likes,elemento.id)}">
                                        <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                        th:data-id="${elemento.id}" th:id="'megustas'+${elemento.id}"
                                        onclick="cambiamegusta(this.getAttribute('data-id'))">
                                        <i style="margin-bottom: 10px" class="bi bi-hand-thumbs-up"
                                        th:id="'megusta'+${elemento.id}"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-1" th:if="${#lists.contains(likes,elemento.id)}">
                                        <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                                th:data-id="${elemento.id}" th:id="'megustas'+${elemento.id}"
                                                onclick="nomegusta(this.getAttribute('data-id'))">
                                            <i style="margin-bottom: 10px; color: #29cb30" class="bi-hand-thumbs-up-fill"
                                            th:id="'megusta'+${elemento.id}"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
            </th:block>
            </div>
            <div class="col-4" style="padding-left: 62px;padding-right: 58px;padding-bottom: 0px;">
                <div class="row" style="margin-top: 10px;">
                    <div class="col produpodint">
                        <h3 style="color: rgb(255,255,255);">Podría interesarte</h3>
                    </div>
                <div class="row">
                    <th:block th:each="elemento : ${listaIntereses}">
                        <div class="card-body cardproduPodint" style="margin-bottom: 30px; margin-left: 55px">
                            <a th:href="'/productos/' + ${elemento.id}"><img th:src="${elemento.imagen}" width="10%" class="card-img-topproduPodint"></a>
                            <h6 style="color: #FFFFFF" th:align="center" th:text="${elemento.titulo}"></h6>
                            
                            <div class="clasificacion">
                            <th:block th:if="${elemento.puntuacionMedia} == 0 ">
                                <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                            </th:block>
                            <th:block th:if="${elemento.puntuacionMedia} > 0 and ${elemento.puntuacionMedia} <= 1">
                                <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>★</label>
                            </th:block>
                            <th:block th:if="${elemento.puntuacionMedia} > 1 and ${elemento.puntuacionMedia} <= 2 ">
                                <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>★</label>
                                <label>★</label>
                            </th:block>
                            <th:block th:if="${elemento.puntuacionMedia} > 2 and ${elemento.puntuacionMedia} <= 3 ">
                                <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                <label>✰</label>
                                <label>✰</label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                            </th:block>
                            <th:block th:if="${elemento.puntuacionMedia} > 3 and ${elemento.puntuacionMedia} <=4 ">
                                <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                <label>✰</label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                            </th:block>
                            <th:block th:if="${elemento.puntuacionMedia} > 4  and ${elemento.puntuacionMedia} <= 5 ">
                                <label th:text="'(' + ${elemento.puntuacionMedia} + ')'"></label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                                <label>★</label>
                            </th:block>
                        </div>
                            
                        </div>
                    </th:block>
                </div>
            </div>
            </div>
        </div>
    </div>

<!-- Modal valorar -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" th:text="${datosProducto.titulo}">Título</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
            <label for="customRange3" class="form-label">Establece tu valoración:&nbsp;</label>
            <span id="sliderValue"></span>
            <input th:id="'customRange3'" type="range" class="form-range" min="0" max="5" step="0.5">
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" onclick="puntuar(this.getAttribute('data-id'), document.getElementById('customRange3').value)" th:data-id="${datosProducto.id}" class="btn btn-primary">Valorar</button>
          </div>

      </div>
    </div>
</div>

<!-- Modal borrar comentario -->
<div class="modal fade" id="modalBorrar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        
        <div class="modal-body">
            <h2>Confirmar borrado</h2>
            <p>¿Estás seguro de que deseas borrar el comentario?</p>
            
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button onclick="borrar()" class="btn btn-danger">Confirmar</button>
          </div>

      </div>
    </div>
</div>
  
  <script>
    // Obtener el elemento del slider
    var slider = document.getElementById("customRange3");
    // Obtener el elemento donde se mostrará el valor
    var sliderValue = document.getElementById("sliderValue");
  
    // Establecer el valor por defecto en 2.5
    slider.value = 2.5;
    sliderValue.innerText = slider.value;
  
    // Función para actualizar el valor cuando se arrastra el slider
    slider.oninput = function() {
      sliderValue.innerText = slider.value;
    };
  
    // Función para permitir el desplazamiento del slider con la rueda del ratón
    slider.addEventListener("wheel", function(event) {
      event.preventDefault(); // Evitar el desplazamiento de la página
      var delta = Math.sign(event.deltaY); // Obtener el desplazamiento de la rueda del ratón
      var step = parseFloat(slider.step); // Obtener el paso del slider
      var newValue = parseFloat(slider.value) + delta * step; // Calcular el nuevo valor del slider
      if (newValue >= parseFloat(slider.min) && newValue <= parseFloat(slider.max)) {
        slider.value = newValue; // Establecer el nuevo valor del slider
        sliderValue.innerText = slider.value; // Actualizar el valor mostrado
      }
    });
  </script>
  <!-- -->

    </th:block>
    <th:block layout:fragment="pie"></th:block>
</body>
</html>