<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title id="pageTitle">Producto</title>
</head>

<body style="background-color: #1E1E1E">
    <th:block layout:fragment="nav"></th:block>
    <th:block layout:fragment="contenido">
<div class="container" th:object="${datosProducto}">
    <div class="row">
        <div class="col" style="margin-right: 5px; max-width: 1100px;">
            <h4 style="color: #8D92BB;margin-bottom: 10px;" th:text="${datosProducto.titulo}"></h4>

                <div class="shrink-0 flex items-center mb-2" style="white-space:nowrap !important">
                    <a th:href="@{/perfil/{id}(id = ${datosProducto.usuario?.getId})}"><img  th:src="${datosProducto.usuario?.getAvatar}" width="48px" class="h-8 w-8 rounded-full object-cover" alt="" style="border-radius: 15px"></a>
                    <span  style="color: #D9D9D9;font-size: large;" th:text="${datosProducto.usuario?.getNick}"></span>
                    <span class=" valoracionPedidos " style="white-space:nowrap !important"></span>
                </div>
                <div class="row row-cols-1 row-cols-md-2" style="margin-right: 5px;">
                    <div class="col mb-5">
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <img th:src="${datosProducto.imagen}"
                                         class="d-block w-100 rounded img-fluid shadow "
                                         alt="..." style="height: auto">
                        </div>
                    </div>
                    <div class="col d-md-flex mb-5">
                        <div>
                            <h4 th:if="${datosProducto?.geeko} == 0" class="fw-bolder" style="color: #8D92BB;" th:text="${datosProducto.precio} + '€'"></h4>
                            <p class="text-muted mb-4" style="width: 400px;color: #D9D9D9 !important;" th:text="${datosProducto.descripcion}"></p>
                            <!--Etiquetas-->
                            <p style="color:#8D92BB">
                                <!-- Repetir aqui-->
                                <span th:if="${datosProducto.libro} == 1" style="margin-right:10px ;"><i style="color: aliceblue;margin-right: 5px;" class="fa-solid fa-tag fa-2xl"></i>Libro</span>
                                <span th:if="${datosProducto.serie} == 1" style="margin-right:10px ;"><i style="color: aliceblue;margin-right: 5px;" class="fa-solid fa-tag fa-2xl"></i>Serie</span>
                                <span th:if="${datosProducto.pelicula} == 1" style="margin-right:10px ;"><i style="color: aliceblue;margin-right: 5px;" class="fa-solid fa-tag fa-2xl"></i>Película</span>
                                <span th:if="${datosProducto.videojuego} == 1" style="margin-right:10px ;"><i style="color: aliceblue;margin-right: 5px;" class="fa-solid fa-tag fa-2xl"></i>Videojuego</span>
                                <!--Hasta aqui-->
                                <i style="color: aliceblue;margin-right: 5px;" class="fa-solid fa-tag fa-2xl"></i><span th:text="${datosProducto.tematica?.getNombre}" style="margin-right:10px ;"></span>
                            </p>
                            <!-- Cierre etiquetas-->
                            <a th:if="${datosProducto.usuario?.getId} == ${datosUsuario.id}" th:href="@{/productos/edit/{id}(id = ${datosProducto.id})}" class="btn px-4" style="border-radius: 23px;background-color: #8D92BB"type="button">Editar <i class="fas fa-edit"></i></a>
                            <a th:if="${datosProducto.usuario?.getId} != ${datosUsuario.id}" th:href="@{/reportarproducto/{id}(id = ${datosProducto.id})}" class="btn px-4" style="border-radius: 23px;background-color: #8D92BB"type="button">Reportar</a>
                            <a th:if="${datosProducto.usuario?.getId != datosUsuario.id} AND ${datosProducto.geeko == 0}" th:href="@{/pago/{id}(id = ${datosProducto.id})}" class="btn px-4" style="border-radius: 23px;background-color: #8D92BB"type="button">Comprar <i class="fas fa-edit"></i></a>
                        </div>
                    </div>
                </div>
            <th:block th:if="${datosProducto.geeko} == 1">
            <h3 style="color: #FFFFFF; margin-left: 200px">Comentarios <a th:href="@{/crearcomentario/{id}(id = ${datosProducto.id})}"><i class="bi bi-plus-circle"></i></a></h3>
                    <th:block th:if="${#lists.isEmpty(listaComentarios)}">
                        <h4 style="color: #FFFFFF; margin-left: 150px;margin-top: 20px">No hay comentarios, escribe el primero!</h4>
                    </th:block>
                <th:block th:each="elemento : ${listaComentarios}">
                    <div th:id="'borrar'+${elemento.id}">
                        <div class="p-4 text-center m-5 rounded-5">
                            <div class="row"
                                 style="background-color: #FFFFFF;border-radius: 30px;margin-top: -9px;min-width: 300px; max-width: 500px">
                                <div style="max-height: 118px;text-align: center;">
                                    <div class="row">
                                        <div class="col-xl-12" style="max-height: 116px;">
                                            <a th:href="@{/perfil/{id}(id = ${elemento.usuario?.getId})}"><img th:src="${elemento.usuario?.getAvatar}" style="width: 5rem; border-radius: 15px"
                                                 class="mt-4" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <div class="col">
                                            <h3 style="text-align: left;" th:text="${elemento.titulo}"></h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="row" style="text-align: left;">
                                            <p th:text="${elemento.texto}"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col"
                                                     style="height: 49px;margin-left: -7px;margin-right: 13px;">
                                                    <a th:href="@{/productos/{id}(id = ${elemento.producto?.getId})}"><i
                                                            class="bi bi-eye-fill" style="color: black"></i></a>
                                                </div>
                                                <div th:if="${datosUsuario.id} != ${elemento.usuario?.getId}"
                                                     class="col "
                                                     style="height: 48px;">
                                                    <a th:href="@{/reportarcomentario/{id}(id = ${elemento.id})}"><i
                                                            class="bi bi-flag" style="color: black"></i></a>
                                                </div>
                                                <div th:if="${datosUsuario.id} == ${elemento.usuario?.getId}"
                                                     class="col "
                                                     style="height: 48px;">
                                                    <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                                            th:data-id="${elemento.id}"
                                                            onclick="borrar(this.getAttribute('data-id'))">
                                                        <i  class="bi bi-trash"></i>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col" style="text-align: right;">
                                                    <p th:id="'likes'+${elemento.id}"
                                                       style="color: #1E1E1E; margin-bottom: -10px"
                                                       th:text="${elemento.likes}"></p>
                                                </div>
                                                <div class="col" th:if="${!#lists.contains(likes,elemento.id)}">
                                                    <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                                            th:data-id="${elemento.id}" th:id="'megustas'+${elemento.id}"
                                                            onclick="cambiamegusta(this.getAttribute('data-id'))">
                                                        <i style="margin-bottom: 10px" class="bi bi-hand-thumbs-up"
                                                        th:id="'megusta'+${elemento.id}"></i>
                                                    </button>
                                                </div>
                                                                                                <div class="col" th:if="${#lists.contains(likes,elemento.id)}">
                                                    <button style="background-color: rgba(255,255,255,0); border: 0px;"
                                                            th:data-id="${elemento.id}" th:id="'megustas'+${elemento.id}"
                                                            onclick="nomegusta(this.getAttribute('data-id'))">
                                                        <i style="margin-bottom: 10px; color: #29cb30" class="bi-hand-thumbs-up-fill"
                                                           th:id="'megusta'+${elemento.id}"></i>
                                                    </button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </th:block>
            </th:block>
            </div>
            <div class="col-4" style="padding-left: 62px;padding-right: 58px;padding-bottom: 0px;">
                <div class="row" style="margin-top: 10px;">
                    <div class="col produpodint">
                        <h3 style="color: rgb(255,255,255);">Podría interesarte</h3>
                    </div>
                <div class="row">
                    <th:block th:each="elemento : ${listaIntereses}">
                        <div class="card-body cardproduPodint" style="margin-bottom: 30px; margin-left: 55px">
                            <a th:href="'/productos/' + ${elemento.id}"><img th:src="${elemento.imagen}" width="10%" class="card-img-topproduPodint"></a>
                            <h6 style="color: #FFFFFF" th:align="center" th:text="${elemento.titulo}"></h6>
                        </div>
                    </th:block>
                </div>
            </div>
            </div>
        </div>
    </div>
    </th:block>
    <th:block layout:fragment="pie"></th:block>
</body>
</html>