<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout}">

<head th:replace="layout/layout :: head">
    <title id="pageTitle">Crear comentario</title>
</head>

<body style="background: #1e1e1e;">
    <th:block layout:fragment="nav"></th:block>
    <th:block layout:fragment="contenido">
        <div class="container" th:object="${datosProducto}">
            <div class="row">
                <div class="col" style="margin-right: 5px; max-width: 1100px;">
                    <h4 style="color: #8D92BB;margin-bottom: 10px;" th:text="${datosProducto.titulo}"></h4>
                        <div class="shrink-0 flex items-center mb-2" style="white-space:nowrap !important">
                            <a th:href="@{/perfil/{id}(id = ${datosProducto.usuario?.getId})}"><img th:src="${datosUsuario.avatar}" width="48px" class="h-8 w-8 rounded-full object-cover" style="border-radius: 15px"></a>
                            <span  style="color: #D9D9D9;font-size: large;" th:text="${datosProducto.usuario?.getNick}"></span>
                            <span class=" valoracionPedidos " style="white-space:nowrap !important"></span>
                        </div>
                        <div class="row" style="margin-right: 5px;">
                            <div class="col-1">
                                <a th:href="@{/productos/{id}(id = ${datosProducto.id})}"><img th:src="${datosProducto.imagen}" width="100px" class="h-8 w-8 rounded-full object-cover" style="border-radius: 15px; margin-top: 45px"></a>
                            </div>
                            <div class="col mb-5">
                                <form role="form" th:object="${datosComentario}" method="post">
                                    <div class="mx-auto row">
                                        <div class="col-8">
                                            <div class="col">
                                                <div class="form-group">
                                                    <input style="margin-left: 200px" type="hidden"  class="form-control"  maxlength="1" th:field="${datosComentario.activo}"/>
                                                    <label for="InputTitulo" style="color: rgb(255,255,255);font-size: larger; margin-left: 50px;">Título</label>
                                                    <input type="text" id="InputTitulo" class="form-control" style="border-radius: 23px; width: 400px; margin-left: 50px;"  maxlength="100" th:field="${datosComentario.titulo}" required/>
                                                </div>
                                                <p> </p>
                                                <div class="form-group">
                                                    <label for="InputTexto" style="color: rgb(255,255,255);font-size: larger; margin-left: 50px;">Contenido</label>
                                                    <textarea  id="InputTexto" class="form-control" style="border-radius: 23px;min-height: 110px; width: 600px; margin-left: 50px;"  maxlength="300" th:field="${datosComentario.texto}" required></textarea>
                                                </div>
                                                <p> </p>
                                                <button  type="submit" style="background-color:#8D92BB;border-radius: 23px;padding: 2px;width: 92px;height: 41px; font-weight: bold;margin-left: 560px" class="btn ">Publicar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="padding-left: 62px;padding-right: 58px;padding-bottom: 0px;">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col produpodint">
                                <h3 style="color: rgb(255,255,255);">Podría interesarte</h3>
                            </div>
                        <div class="row">
                            <th:block th:each="elemento : ${listaIntereses}">
                                <div class="card-body cardproduPodint" style="margin-bottom: 30px; margin-left: 55px">
                                    <a th:href="'/productos/' + ${elemento.id}"><img th:src="${elemento.imagen}" width="10%" class="card-img-topproduPodint"></a>
                                    <h6 style="color: #FFFFFF" th:align="center" th:text="${elemento.titulo}"></h6>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </th:block>
    <th:block layout:fragment="pie"></th:block>
</body>

</html>