.bg-geeko{
    background-color: #1E1E1E;
padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;

}

.container{
    text-align: center;
    margin: auto;
    margin-top: 3em;
}



.letras{
 color: blanchedalmond !important;
 font-weight: bold;
 font-size:x-large;
 justify-content: center;

}

.enlaces{
    text-decoration: none !important;
    color: aliceblue;
    padding: 1px;
    font-family: 'Inter',sans-serif;
}

a.navbar-brand > img {
    width: 8rem;
}

.recuerdame{
    color: aliceblue !important;
}

.boton{
    background-color: #8d92bb;
    border-radius: 30px;
}

.input{
    border-radius: 30px;
}

.label{
    text-align: left;
}

.card-body{

    border-radius: 30px;
}

#divCuestionario{
    margin: auto;
    background-color: #D9D9D9;
    border-radius: 23px;
    top:50% !important;
    left: 50% !important;
    justify-content: center;
}

.invisible-checkboxes{

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    top:50% !important;
    left: 50% !important;
}

.invisible-checkboxes input[type=checkbox]{
    display: none;
  /*   margin-right: -20px;
    position: relative;
    z-index: 2; */
  }




.checkbox-alias{
    border-radius: 23px;
background-color: #FFFFFF;
    display: inline-block;
    width: 200px;
    height: 200px;
  z-index: 1;
  position: relative;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.invisible-checkboxes input[type=checkbox]:checked + .checkbox-alias{
    background-color: #8d92bb;
    border: 6px solid;

}

.espaciadoCuestionario{
    padding: 10px;
}

 @media(max-width:500px){
            .logoMedio{
                margin-left: 25%;
                    margin-right: 25% !important;
                    width: 9em !important;
                    margin-top: 20%;
            }
 }



    .valoracionPedidos p {
        text-align: center;
        margin-right: 5px;
        margin: auto;
      }

      .valoracionPedidos label {
        font-size: 17px;
        cursor: pointer;
        margin-right: 1px;
      }

      .valoracionPedidos input[type="radio"] {
        display: none;
      }

      .valoracionPedidos label {
        color: grey;
      }

      .clasificacion {
        direction: rtl;
        unicode-bidi: bidi-override;
      }

      .valoracionPedidos label:hover,
      .valoracionPedidos label:hover ~ label {
        color: orange;
      }

      .valoracionPedidos input[type="radio"]:checked ~ label {
        color: orange;
      }

      @media(max-width:765px){
        .fotosPedidos{
            width: 200px !important;
            height:200px !important;
        }

        .valoracionPedidos label{
            font-size: 25px !important;
        }

        .valoracionPedidos p{
          font-size: 20px !important;
          margin-top: auto;
      }
    }

    .interesante{
      margin-bottom: 5px;
      color: #8D92BB;
      min-width: 212px;
      min-height: 228px;
      text-align: center !important;
    }

    @media(max-width:750px){
      .productoPropio{
          display: block;
      }

    }

    .productoPropio{
      font-size: large;
  }


  @media(min-width:1100px){
    .interesarte{
    max-width: 300px;
  }

  }

  @media(max-width:1050px ){
    .interesarteEncogido{
      display: flex !important;
            flex-direction: row !important;
            justify-content: space-around !important;
            flex-flow: wrap !important;
  }
  .iconosNav{
   display: flex !important;
               flex-direction: row !important;
               justify-content: space-around !important;
               flex-flow: wrap !important;
   }
  .interesarte{
    width: 100%;

  }
}

.libros{
    background-color: #1E1E1E;
    border: 0;
    color: #D9D9D9;
    font-weight: bold;
}

.series{
    background-color: #1E1E1E;
    border: 0;
    color: #D9D9D9;
    font-weight: bold;
}

.peliculas{
    background-color: #1E1E1E;
    border: 0;
    color: #D9D9D9;
    font-weight: bold;
}

.vj{
    background-color: #1E1E1E;
    border: 0;
    color: #D9D9D9;
    font-weight: bold;
}

.social{
    background-color: #1E1E1E;
    border: 0;
    color: #D9D9D9;
    font-weight: bold;
}

