body{
    background-color: #1E1E1E;
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
}

body::-webkit-scrollbar {
   display: none;
}
.card-img-topproduPodint, .card-img-topperfil {
   animation: 0.2s ease-out 0s 1 slideInRight;
 }

.card-img-topn {
   animation: 0.2s ease-out 0s 1 slideInRight;
 }

.p-4, .card-img-toppu {
   animation: 0.2s ease-out 0s 1 slideInBot;
 }

.card-img-toptp, .comenfeed{
   animation: 0.2s ease-out 0s 1 slideInLeft;
 }
h6, .d-block {
   animation: fadeInAnimation ease 1s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
 }
 @keyframes fadeInAnimation {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
 }

 @keyframes slideInLeft {
   0% {
     transform: translateX(-100%);
   }
   100% {
     transform: translateX(0);
   }
 }

 @keyframes slideInRight{
   0% {
     transform: translateX(100%);
   }
   100% {
     transform: translateX(0);
   }
 }

  @keyframes slideInBot {
   0% {
     transform: translateY(100%);
   }
   100% {
     transform: translateY(0);
   }
 }


.form-control::placeholder {
 color: #6c757d;
 }

.btnCC{
   background-color: #1E1E1E;
   border-color: #8D92BB;
   border-radius: 20px;
   color: #D9D9D9;
   font-family: 'Inter',sans-serif;
   margin-top: 10px;
   margin-right: 10px;
}

.col{
   background-color: #1e1e1e00;
}

.card:hover{
   transform: scale(1.1);
   transition: 0.3s;
}

.card{
   background-color: #1e1e1e00;
   border: 0;
   color: #D9D9D9;
}

.cardprodint{
   width: 300px;
   height: 350px;
}

.card-img-toppdint{
   width: 270px;
   height: 270px;
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
}

.cardprodu{
   width: 210px;
   height: 240px;
}

.card-img-toppu{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 200px;
   height: 200px;
}

.card-img-topn{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 270px;
   height: 390px;
}

.card-body{
   background-color: #1e1e1e00;
   border-radius: 30px;
}

.btn-floating{
   background-color: #1E1E1E;
}

.card-title{
   margin-top: 5px;
   text-align: center;
}

.form-check{
   background-color: #D9D9D9;
   border-color: #8D92BB;
   border-radius: 20px;
   color: #1E1E1E;
   font-family: 'Inter',sans-serif;
   margin-top: 10px;
   margin-left: 5px;
}

.form-control{
    background-color: #1E1E1E;
    border-radius: 20px;
    font-family: 'Inter',sans-serif;
    color: #D9D9D9;
}

.form-check-input{
   background-color: #1E1E1E;
   border: 0;
   border-radius: 50px;
   justify-content: left;
   color: #D9D9D9;
}

.btnCO{
   background-color: #1E1E1E;
   border: 0;
   border-radius: 20px;
   color: #D9D9D9;
   font-family: 'Inter',sans-serif;
   margin-top: 0px;
   margin-right: 3px;
   font-size: 15px;
   font-weight: bold;
}

.btn{
   /*background-color: #8D92BB;*/
   border-radius: 20px;
   font-family: 'Inter',sans-serif;
   font-weight: bold;
   font-size: 15px;
   color: #D9D9D9;
}

.btnIS{
   background-color: #1E1E1E;
   border-color: #8D92BB;
   border-radius: 20px;
   color: #D9D9D9;
   font-family: 'Inter',sans-serif;
   margin-top: 10px;
   margin-right: 10px;
}

.cardnovedad{
   width: 310px;
   height: 470px;
   background-color: #1e1e1e00;
   border: 0;
}
.card-img-top{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
}

.cardprodu{
   width: 210px;
   height: 240px;
}

.card-img-toptp{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 200px;
   height: 200px;
}

.cardprodupatinicio{
   width: 220px;
   height: 310px;
}

.card-img-toppatinicio{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 220px;
   height: 270px;
}

.cardprodupintinicio{
   width: 270px;
   height: 360px;
   justify-content: center;
   align-items: center;
}

.card-img-toppintinicio{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 270px;
   height: 320px;
}

.cardproduperfil{
   width: 270px;
   height: 360px;
   justify-content: center;
   align-items: center;
}

.card-img-topperfil{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 270px;
   height: 320px;
}

.cardproduPodint{
   width: 270px;
   height: 360px;
}

.card-img-topproduPodint{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 270px;
   height: 320px;
}

.cardpago{
   width: 500px;
   height: 350px;
   justify-content: center;
}

.card-bodypago{
   margin-top: 45px;
   background-color: #D9D9D9;
   border: 0;
   border-radius: 20px;
   color: #1E1E1E;
   font-family: 'Inter',sans-serif;
   font-weight: bold;
   font-size: 15px;
   text-align: center;
   width: 500px;
   height: 350px;
   justify-content: center;
}

.produpodint{
   display:flex;
   justify-content: center;
}

.libros{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.series{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.peliculas{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.vj{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.social{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.letras{
 color: blanchedalmond !important;
 font-weight: bold;
 font-size:x-large;
 justify-content: center;
}

.enlaces{
    text-decoration: none !important;
    color: aliceblue;
    padding: 1px;
    font-family: 'Inter',sans-serif;
}


a.navbar-brand > img {
    width: 8rem;
    margin-left: 10px;
}

.usuario{
    color: white;
}

.reporte{
    color: #FA5959;
}

.interesante{
   margin-bottom: 5px;
   color: #8D92BB;
   min-width: 212px;
   min-height: 228px;
   text-align: center !important;
}

@media(max-width:1050px ){
   .interesarteEncogido{
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-around !important;
      flex-flow: wrap !important;
   }
   .interesarte{
      width: 100%;

   }
}

.bi-eye-fill:hover{
   color: #2196F3;
}

.bi-hand-thumbs-up:hover{
   color: #29cb30;
}

.bi-trash:hover{
   color: #ff0000;
}

.bi-flag:hover{
   color: #ff0000;
}

.clasificacion{
   direction: rtl;
   text-align: center;
   color: #D9D9D9;
}
input[type = "radio"]{ display:none;}
label:hover,
label:hover ~ label {
   color: #8d92bb;
}
input[type="radio"]:checked ~ label {
   color: #8d92bb;
}


input[id="Librobox"]:checked ~ label{
   color: #8d92bb;
}

input[id="Peliculabox"]:checked ~ label{
   color: #8d92bb;
}

input[id="Seriebox"]:checked ~ label{
   color: #8d92bb;
}

input[id="Videojuegobox"]:checked ~ label{
   color: #8d92bb;
}

input[id="pogeeko"]:checked ~ label{
   color: #8d92bb;
}

input[id="geeko"]:checked ~ label{
   color: #8d92bb;
}

input[type="checkbox"]{
   display: none;

}

div::-webkit-scrollbar {
   display: none;
}

#chat{
   display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
}