:root{
    --bandera-color: #fa5959
}
:root{
    --pulgar-color: #8d92bb
}
body{
    background-color: #1E1E1E;
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
}

.form-control::placeholder {
 color: #6c757d;
 }

/*.container{
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #D9D9D9;
    border-radius: 15px;
    text-align: center;
    margin-top: 7em;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #1E1E1E;
}*/


.form-group{
    background-col: #D9D9D9;
}

.form-control{
    background-color: #1E1E1E;
    border-radius: 20px;
    font-family: 'Inter',sans-serif;
    color: #D9D9D9;
}

.form-label{
    color: #8D92BB;
    font-family: 'Inter',sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.usu{
   background-color: #D9D9D9;
   color: #1E1E1E;
}

.col2{
   background-color: #D9D9D9;
   color: #1E1E1E ;
}

/*.col{
   background-color: #1E1E1E;
   color: #D9D9D9;
}+/

/*.scroll-container {
   display: block;
   overflow-y: scroll;
   scroll-behavior: smooth;
 }*/

.btn{
   background-color: #8D92BB;
   border: 0;
   border-radius: 20px;
   font-family: 'Inter',sans-serif;
   font-weight: bold;
   font-size: 15px;
   color: #D9D9D9;
   margin-top: 20px;
}

.btnCC{
   background-color: #1E1E1E;
   border-color: #8D92BB;
   border-radius: 20px;
   color: #D9D9D9;
   font-family: 'Inter',sans-serif;
   margin-top: 10px;
   margin-right: 10px;
}

.form-check{
   background-color: #D9D9D9;
   border-color: #8D92BB;
   border-radius: 20px;
   color: #1E1E1E;
   font-family: 'Inter',sans-serif;
   margin-top: 10px;
   margin-left: 5px;
}

.form-check-input{
   background-color: #1E1E1E;
   border: 0;
   border-radius: 50px;
   justify-content: left;
   color: #D9D9D9;
}

.btnCO{
   background-color: #1E1E1E;
   border: 0;
   border-radius: 20px;
   color: #D9D9D9;
   font-family: 'Inter',sans-serif;
   margin-top: 0px;
   margin-right: 3px;
   font-size: 15px;
   font-weight: bold;
}

.btnIS{
   background-color: #1E1E1E;
   border-color: #8D92BB;
   border-radius: 20px;
   color: #D9D9D9;
   font-family: 'Inter',sans-serif;
   margin-top: 10px;
   margin-right: 10px;
}

.card{
   background-color: #1E1E1E;
   border: 0;
}

.cardpago{
   width: 500px;
   height: 350px;
   justify-content: center;
}

.card-bodypago{
   margin-top: 45px;
   background-color: #D9D9D9;
   border: 0;
   border-radius: 20px;
   color: #1E1E1E;
   font-family: 'Inter',sans-serif;
   font-weight: bold;
   font-size: 15px;
   text-align: center;
   width: 500px;
   height: 350px;
   justify-content: center;
}

.cardprodint{
   width: 300px;
   height: 350px;
}

.card-img-toppdint{
   width: 270px;
   height: 270px;
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
}

.cardprodu{
   width: 210px;
   height: 240px;
}

.card-img-toppu{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 200px;
   height: 200px;
}

.cardnovedad{
   width: 310px;
   height: 470px;
}

.card-img-topn{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 270px;
   height: 390px;
}

.btn-floating{
   background-color: #1E1E1E;
}

.card-title{
   margin-top: 5px;
   text-align: center;
}

.libros{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.series{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.peliculas{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.vj{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.social{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.letras{
 color: blanchedalmond !important;
 font-weight: bold;
 font-size:x-large;
 justify-content: center;
}

.enlaces{
    text-decoration: none !important;
    color: aliceblue;
    padding: 1px;
    font-family: 'Inter',sans-serif;
}

a.navbar-brand > img {
    width: 8rem;
    margin-left: 10px;
}

.recuerdame{
    color: aliceblue !important;
}

.boton{
    background-color: #8d92bb;
    border-radius: 30px;
}

.input{
    border-radius: 30px;
}

.clasificacion{
    direction: rtl;
    text-align: center;
    color: #D9D9D9;
}
input[type = "radio"]{ display:none;}
label:hover,
label:hover ~ label {
  color: #8d92bb;
}
input[type="radio"]:checked ~ label {
  color: #8d92bb;
}

input[type = "button"]{ display:none;}
label:hover,
label:hover ~ label {
  color: #fa5959;
}
input[type="button"]:checked ~ label {
  color: #fa5959;
}

.card-body{
    background-color: #1E1E1E;
    border-radius: 30px;
}

.banderaroja{
    color: #fa5959 !important;
}
.bandera:hover{
    color: var(--bandera-color) !important;
}

.pulgarmorado{
    color: #8d92bb !important;
}
.pulgar:hover{
    color: var(--pulgar-color) !important;
}


