body{
    background-color: #1E1E1E;
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
}

.btnCC{
   background-color: #1E1E1E;
   border-color: #8D92BB;
   border-radius: 20px;
   color: #D9D9D9;
   font-family: 'Inter',sans-serif;
   margin-top: 10px;
   margin-right: 10px;
}

.form-check{
   background-color: #D9D9D9;
   border-color: #8D92BB;
   border-radius: 20px;
   color: #1E1E1E;
   font-family: 'Inter',sans-serif;
   margin-top: 10px;
   margin-left: 5px;
}

.form-control{
    background-color: #1E1E1E;
    border-radius: 20px;
    font-family: 'Inter',sans-serif;
    color: #D9D9D9;
}

.form-check-input{
   background-color: #1E1E1E;
   border: 0;
   border-radius: 50px;
   justify-content: left;
   color: #D9D9D9;
}

.btnCO{
   background-color: #1E1E1E;
   border: 0;
   border-radius: 20px;
   color: #D9D9D9;
   font-family: 'Inter',sans-serif;
   margin-top: 0px;
   margin-right: 3px;
   font-size: 15px;
   font-weight: bold;
}

.btnIS{
   background-color: #1E1E1E;
   border-color: #8D92BB;
   border-radius: 20px;
   color: #D9D9D9;
   font-family: 'Inter',sans-serif;
   margin-top: 10px;
   margin-right: 10px;
}

.cardnovedad{
   width: 300px;
   height: 390px;
   background-color: #1E1E1E;
   border: 0;
}
.card-img-top{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
}

.cardprodu{
   width: 180px;
   height: 210px;
}

.card-img-toptp{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 200px;
   height: 200px;
}

.cardprodupatinicio{
   width: 220px;
   height: 310px;
}

.card-img-toppatinicio{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 220px;
   height: 270px;
}

.cardprodupintinicio{
   width: 270px;
   height: 360px;
   justify-content: center;
   align-items: center;
}

.card-img-toppintinicio{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 270px;
   height: 320px;
}

.cardproduperfil{
   width: 270px;
   height: 360px;
   justify-content: center;
   align-items: center;
}

.card-img-topperfil{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 270px;
   height: 320px;
}

.cardproduPodint{
   width: 270px;
   height: 360px;
}

.card-img-topproduPodint{
   border-radius: 20px;
   object-position: center;
   object-fit: cover;
   width: 270px;
   height: 320px;
}

.produpodint{
   display:flex;
   justify-content: center;
}

.libros{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.series{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.peliculas{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.vj{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.social{
   background-color: #1E1E1E;
   border: 0;
   color: #D9D9D9;
   font-weight: bold;
}

.letras{
 color: blanchedalmond !important;
 font-weight: bold;
 font-size:x-large;
 justify-content: center;
}

.enlaces{
    text-decoration: none !important;
    color: aliceblue;
    padding: 1px;
    font-family: 'Inter',sans-serif;
}

a.navbar-brand > img {
    width: 8rem;
    margin-left: 10px;
}

.usuario{
    color: white;
}

.reporte{
    color: #FA5959;
}

.interesante{
   margin-bottom: 5px;
   color: #8D92BB;
   min-width: 212px;
   min-height: 228px;
   text-align: center !important;
}

@media(max-width:1050px ){
   .interesarteEncogido{
      display: flex !important;
      flex-direction: row !important;
      justify-content: space-around !important;
      flex-flow: wrap !important;
   }
   .interesarte{
      width: 100%;

   }
}

.clasificacion{
   direction: rtl;
   text-align: center;
   color: #D9D9D9;
}
input[type = "radio"]{ display:none;}
label:hover,
label:hover ~ label {
   color: #8d92bb;
}
input[type="radio"]:checked ~ label {
   color: #8d92bb;
}

input[id="Librobox"]:checked{
   opacity: 0;
}

input[id="Librobox"]:checked ~ label{
   color: #8d92bb;
}
