<html lang="es_ES" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

  <head th:replace="layout/layout :: head">
    <title id="pageTitle">Reportes</title>
</head>

<body style="background: #1e1e1e;">
    <th:block layout:fragment="nav"></th:block>
    <th:block layout:fragment="contenido">
        <div class="container">
            <div class="row" style="height: 57.594px;margin: 28px;">
                <div class="col-md-4 col-xxl-5" style="height: 75.594px;">
                    <h3 style="text-align: center;height: 49.5938px;margin: 28px;color: rgb(255,255,255);position: static;">Comentarios reportados</h3>
                </div>
                <div class="col-md-4 col-xxl-3" style="width: 349px;height: 77.594px;">
                    <h3 style="text-align: center;height: 49.5938px;margin: 28px;position: absolute;display: block;padding-left: 16px;color: rgb(255,255,255);">Usuarios reportados</h3>
                </div>
                <div class="col-md-4 col-xxl-3" style="height: 75.594px;width: 367px;">
                    <h3 style="text-align: center;height: 49.5938px;margin: 28px;position: absolute;display: block;padding-left: 16px;color: rgb(255,255,255);">Productos reportados</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xxl-5">
                    <th:block th:each="elemento : ${comentarios}" >
                        <div th:id="'cambiareporte'+${elemento.id}">
                            <div th:id="'borrar'+${elemento.id}">
                                    <div class="row" style="margin: 18px;">
                                            <div class="col-md-4 col-xxl-9">
                                                <div class="row" style="margin-top: 19px;">
                                                    <section class="card mb-3">
                                                        <div class="row">
                                                            <div class="col-3"><a th:href="@{/perfil/{id}(id = ${elemento.usuario?.getId})}"><img th:src="${elemento.usuario?.getAvatar}" style="width: 5rem; border-radius: 15px" class="mt-1" alt=""></a></div>
                                                            <div class="col">
                                                                <div class="card-body">
                                                                    <h5 class="card-title" th:text="${elemento.titulo}" >Título feed</h5>
                                                                    <p class="card-text" th:text="${elemento.texto}" ></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                            <div  class="col-md-4 col-xxl-1">
                                                <button class="btn btn-primary" data-bss-hover-animate="jello" type="submit"
                                                        onclick="cambiareporte(this.getAttribute('data-id'))"
                                                        style="background: #d9d9d9;border-radius: 38px;color: #1e1e1e;border-width: 5px;border-color: #d9d9d9;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;" th:id="'cambiareporte'+${elemento.id}" th:data-id="${elemento.id}"
                                                        >Descartar</button>
                                                <p></p>
                                                <button class="btn btn-primary text-center"
                                                            data-bss-hover-animate="jello" type="submit" onclick="borrar(this.getAttribute('data-id'))" th:id="'suspender'+${elemento.id}"
                                                            style="background: #1e1e1e;border-width: 5px;border-color: #fa5959;border-radius: 38px;" th:data-id="${elemento.id}"
                                                >Eliminar</button>
                                            </div>
                                        <th:block th:each="elementale : ${elemento.comentariosReportados}">
                                            <div class="row reporte" style="margin: 18px;" th:text=" 'Reporte de: ' + ${elementale.usuario?.getNick} + ', ' + ${elementale.motivo} "></div>
                                        </th:block>
                                    </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="col-md-4 col-xxl-3">
                    <th:block th:each="usu : ${usuarios}">
                        <div th:id="'cambiareporte'+${usu.id}">
                            <div th:id="'borrar'+${usu.id}">
                                <div class="row">
                                    <div class="col-md-4 col-xxl-8">
                                        <div class="card-group">
                                            <div class="card" style="height: 183.797px;border-style: none;border-radius: 17px 0px 0px 6px;margin-bottom: 17px;margin-left: 17px;margin-top: 14px;margin-right: 18px;--bs-body-bg: rgba(255,255,255,0);background: #1e1e1e;">
                                                <a th:href="@{/perfil/{id}(id = ${usu.id})}"><img class="card-img-top w-100 d-block"  width="284" height="200" style="height: 199px;border-color: rgba(33,37,41,0);border-radius: 50px;" th:src="${usu.avatar}"></a>
                                                <p style="color: #FFFFFF" th:align="center" th:text="${usu.nick}"></p>
                                            </div>
                                            <th:block th:each="elementale : ${usu.usuariosReportados}">
                                                <div class="row reporte" style="margin: 18px;" th:text=" 'Reporte de: ' + ${elementale.usuario?.getNick} + ', ' + ${elementale.motivo} "></div>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xxl-4">
                                        <button class="btn btn-primary" data-bss-hover-animate="jello" type="submit"
                                                onclick="cambiareporte(this.getAttribute('data-id'))"
                                                style="background: #d9d9d9;border-radius: 38px;color: #1e1e1e;border-width: 5px;border-color: #d9d9d9;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;" th:id="'cambiareporte'+${usu.id}" th:data-id="${usu.id}"
                                        >Descartar</button>
                                        <p></p>
                                        <button class="btn btn-primary text-center"
                                                data-bss-hover-animate="jello" type="submit" onclick="borrar(this.getAttribute('data-id'))" th:id="'suspender'+${usu.id}"
                                                style="background: #1e1e1e;border-width: 5px;border-color: #fa5959;border-radius: 38px;" th:data-id="${usu.id}"
                                        >Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>

                <div class="col-md-4 col-xxl-3">
                    <th:block th:each="pro : ${productos}">
                        <div th:id="'cambiareporte'+${pro.id}">
                            <div th:id="'borrar'+${pro.id}">
                                <div class="row">
                                    <div class="col-md-4 col-xxl-8">
                                        <div class="card-group">
                                            <div class="card" style="height: 183.797px;border-style: none;border-radius: 17px 0px 0px 6px;margin-bottom: 17px;margin-left: 17px;margin-top: 14px;margin-right: 18px;--bs-body-bg: rgba(255,255,255,0);background: #1e1e1e;">
                                                <a th:href="@{/productos/{id}(id = ${pro.id})}"><img class="card-img-top w-100 d-block" width="284" height="278" style="height: 199px;border-color: rgba(33,37,41,0);border-radius: 50px;" th:src="${pro.imagen}"></a>
                                                <p style="color: #FFFFFF" th:align="center" th:text="${pro.titulo}"></p>
                                            </div>
                                            <th:block th:each="elementale : ${pro.productosReportados}">
                                                <div class="row reporte" style="margin: 18px;" th:text=" 'Reporte de: ' + ${elementale.usuario?.getNick} + ', ' + ${elementale.motivo} "></div>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xxl-4">
                                        <button class="btn btn-primary" data-bss-hover-animate="jello" type="submit"
                                                onclick="cambiareporte(this.getAttribute('data-id'))"
                                                style="background: #d9d9d9;border-radius: 38px;color: #1e1e1e;border-width: 5px;border-color: #d9d9d9;padding-left: 10px;text-align: center;margin-right: 5px;padding-right: 6px;" th:id="'cambiareporte'+${pro.id}" th:data-id="${pro.id}"
                                        >Descartar</button>
                                        <p></p>
                                        <button class="btn btn-primary text-center"
                                                data-bss-hover-animate="jello" type="submit" onclick="borrar(this.getAttribute('data-id'))" th:id="'suspender'+${pro.id}"
                                                style="background: #1e1e1e;border-width: 5px;border-color: #fa5959;border-radius: 38px;" th:data-id="${pro.id}"
                                        >Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>
    <th:block layout:fragment="pie"></th:block>
</body>

</html>