<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuestionario</title>
</head>

<body class="bg-geeko">
<div layout:fragment="contenido">
    <img src="logo.png" alt="" class="" style="width: 120px;">
    <div id="divCuestionario" class="espaciadoCuestionario container">
        <h2 style="font-family: 'Inter'; font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 30px;
        text-align: center;" class="espaciadoCuestionario">Escoge tus preferencias</h2>

        <form id="" action="" method="post" enctype="multipart/form-data" style="text-align: center;">
            <div class="invisible-checkboxes  espaciadoCuestionario ">


                <input type="checkbox" name="rGroup" value="1" id="r1"/>
                <label class="checkbox-alias" for="r1"></label>

                <input type="checkbox" name="rGroup" value="2" id="r2"/>
                <label class="checkbox-alias" for="r2"></label>

                <input type="checkbox" name="rGroup" value="3" id="r3"/>
                <label class="checkbox-alias" for="r3"></label>

                <input type="checkbox" name="rGroup" value="4" id="r4"/>
                <label class="checkbox-alias" for="r4"></label>

                <input type="checkbox" name="rGroup" value="5" id="r5"/>
                <label class="checkbox-alias" for="r5"></label>


                <input type="checkbox" name="rGroup" value="6" id="r6"/>
                <label class="checkbox-alias" for="r6"></label>

                <input type="checkbox" name="rGroup" value="7" id="r7"/>
                <label class="checkbox-alias" for="r7"></label>

                <input type="checkbox" name="rGroup" value="8" id="r8"/>
                <label class="checkbox-alias" for="r8"></label>

                <input type="checkbox" name="rGroup" value="9" id="r9"/>
                <label class="checkbox-alias" for="r9"></label>

                <input type="checkbox" name="rGroup" value="10" id="r10"/>
                <label class="checkbox-alias" for="r10"></label>

            </div>
            <button class="btn btn-dark espaciadoCuestionario mt-2"
                    style="width: 250px;border-radius: 27px; color: aliceblue;font-weight: bold;">Proceder
            </button>
        </form>
    </div>
</div>

</body>
</html>