<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Geeko</title>
</head>
<nav class="navbar-fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Buscar</span>
  </div>
</nav><button type="button" class="btn btn-primary">@Usuario</button>
 <table class="table">
  <thead>
  <tr>
    <th scope="col"><button type="button" class="btn btn-primary">Libros</button></th>
    <th scope="col"><button type="button" class="btn btn-primary">Series</button></th>
    <th scope="col"><button type="button" class="btn btn-primary">Películas</button></th>
    <th scope="col"><button type="button" class="btn btn-primary">Videojuegos</button></th>
    <th scope="col"><button type="button" class="btn btn-primary">Social</button></th>
  </tr>
  </thead>
 </table>
  <div><title>Productos de los usuarios</title></div>
  <div data-bs-spy="scroll">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th> colspan="2"<button type="button" class="btn btn-primary"></button></th>
        <th><button type="button" class="btn btn-primary"></button></th>
        ...
      </tr>
      </thead>
    </table>
  </div>
  <div><title>Novedades</title></div>
  <div data-bs-spy="scroll">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th> colspan="3"<button type="button" class="btn btn-primary"></button></th>
        <th><button type="button" class="btn btn-primary"></button></th>
        <th><button type="button" class="btn btn-primary"></button></th>
        ...
      </tr>
      </thead>
    </table>
  </div>
</html>